<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/82937f0358.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">


    <title>Emilia Cole </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="about">
    <header class="header-horizontal">
        <nav class="header-nav-horizontal">
            <ul class="horizontal">
                <li><a href="/"><b>| HOME</b></a></li>
                <li><a href="/about"><b>ABOUT</b></a></li>
                <li><a href="/music"><b>MUSIC</b></a></li>
                <li><a href="/contact"><b>CONTACT |</b></a></li>
            </ul>
        </nav>
        <nav class="header-about">
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://wwww.apple.com"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com"><i class="fa-brands fa-amazon"></i></a>
           <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a> 
        </nav>    
    
    </header>    
    <main>
        <h1>
            about <br> emilia //
        </h1>
        <section>
            <h3 class=" parrafo1">
                "Seattle-based pop star makes her indie <br> with a hauntingly beautiful album"

            </h3>
            <p class ="parrafo1_2">
                - John Tirckle, Music Today Post
            </p>
        </section>
        <section>
            <h3 class="parrafo2"> 
                <b>"Emilia Cole is one of the <br> scene's breakout stars"</b>
                </h3>
                <p class ="parrafo2_1">- John Tirckle, Music Today Post</p>
        </section>
    </main>
</body>
</html>