<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact // </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/82937f0358.js" crossorigin="anonymous"></script>

</head>
<body class="contact">
            <header class="header-horizontal">
                <nav class="header-nav-horizontal">
                    <ul class="horizontal">                             
            <li><a href="/"><b>| HOME</b></a></li>
            <li><a href="/about"><b>ABOUT</b></a></li>
            <li><a href="/music"><B>MUSIC</B></a></li>
            <li><a href="/contact"><B>CONTACT | </B> </a></li>
            </ul> 
        </nav>
        <nav class="links">
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://wwww.apple.com"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com"><i class="fa-brands fa-amazon"></i></a>
           <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a> 
    </nav>
    </header>  
    <nav>
        <main>   <h1>CONTACT// </h1>
            <h2>WE ARE HERE</h2>
            <section class="mapita">          
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1696613742938!5m2!1ses!2sar"  width="1720" height="450" " allowfullscreen="" loading="lazy" ></iframe>

 </section>
 <section> 
 <h2 class="texto-abajo"> CONTACT INFO</h2>
 <h2>MANAGEMENT | Karen Blanche </h2>
  <a href="mailto:info@mysite.com">Email: info@mysite.com</a>
  <a href="tel:123-456-7890">phone: 123-456-7890</a>

<h2> BOOKING | Daniel Ku </h2> 
<p> <a href="mailto:info@mysite.com">Email: info@mysite.com</a></p> 
 <p> <a href="tel:123-456-7890">phone: 123-456-7890</a></p>     

 <h2> LABEL | Wix Records, Jake Coldham </h2> 
<p><a href="mailto:info@mysite.com">Email :info@mysite.com</a></p>
<p> <a href="tel:123-456-7890">phone: 123-456-7890</a></p>

 <h2> PR | That Girl Pr , Sarah Brookstone </h2>
 <p><a href="mailto:info@mysite.com">Email :info@mysite.com</a></p>
<p><a href="tel:123-456-7890">phone: 123-456-7890</a></p>
</section>
 </nav>
</main>
    
</body>
</html>