<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home | Emilia Cole </title>
    <script src="https://kit.fontawesome.com/82937f0358.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="header--vertical">
        <nav class="header__nav--vertical">
            <ul class="header__nav__ul--vertical">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav class="header--horizontal">
        <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
        <a href="https://wwww.apple.com"><i class="fa-brands fa-apple"></i></a>
        <a href="https://www.amazon.com"><i class="fa-brands fa-amazon"></i></a>
       <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a> 
    </nav>
    </header>
<main class="home__main"> 
<H2>emilia <br> cole //</H2>
<h1> twist in my reality </h1>
</main>
    
</body>
</html>